<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Приют Героев Фейруна - Главная</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <h1>Приют Героев Фейруна</h1>
        <p>Место, где каждая фигурка рассказывает свою историю</p>
    </div>

    <div class="slider">

        <div class="slide">
            <h2>Ваш проводник в мир D&D</h2>
            <img src="{% static 'img/dzirt_fig.jpg' %}" alt="Фигурка из D&D">
            <p>Мы создали уютное пространство для всех ценителей вселенной Dungeons & Dragons. Здесь, в нашем Приюте, легендарные герои и грозные чудовища Забытых Королевств обретают материальную форму в виде детализированных фигурок, достойных места в вашей коллекции.</p>
        </div>
        <div class="slide">
            <h2>Что вы найдёте у нас</h2>
            <ul>
                <li>Культовые персонажи D&D</li>
                <li>Редкие миниатюры</li>
                <li>Монстры и существа</li>
                <li>Тематические наборы</li>
            </ul>
        </div>
    </div>

    <div class="content">
        <h2>Наши преимущества</h2>
        <ul>
            <li>Высокое качество - Только оригинальные фигурки с детальной проработкой</li>
            <li>Надёжная доставка - Бережная упаковка и быстрая отправка</li>
            <li>Экспертная поддержка - Помощь в подборе и консультации по коллекциям</li>
            <li>Эксклюзивные предложения - Редкие экземпляры и предзаказы новинок</li>
        </ul>

        <h2>Больше, чем магазин</h2>
        <p>В "Приюте Героев Фейруна" мы создаём сообщество единомышленников. Здесь вы найдёте:</p>
        <ul>
            <li>Тематические встречи коллекционеров</li>
            <li>Консультации по сборке коллекций</li>
            <li>Помощь в поиске редких экземпляров</li>
            <li>Подарочное оформление заказов</li>
        </ul>

        <h2>Особые возможности</h2>
        <ul>
            <li>Программа лояльности - Накапливайте баллы и получайте привилегии</li>
            <li>Предзаказ новинок - Станьте первым обладателем редких фигурок</li>
            <li>Подарочные сертификаты - Идеальный подарок для любителя D&D</li>
        </ul>

        <p><strong>Станьте частью нашего Приюта</strong><br>Ваше эпическое приключение начинается здесь!</p>

        <a href="{% url 'figure_list' %}">Смотреть каталог</a>
        <a href="#">Подписаться на новости</a>

        <h2>Контакты</h2>
        <p>Email: info@heroeshaven.ru</p>
        <p>Телефон: +7 (XXX) XXX-XX-XX</p>




    </div>

    <footer>
        <p>&copy; 2025 Приют Героев Фейруна. Все права защищены.</p>
    </footer>
</body>
</html>